#logo {
  padding: 10px 0 10px 300px;
}

#navbar-items {
  padding-right: 300px;
}

#slider {
  height: 450px;
}

.section-slider img {
  opacity: 0.7;
}

.section-popular {
  padding-top: 50px;
}

.section-icons {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-destinations {
  padding-top: 50px;
}

.section-follow {
  padding-top: 50px;
}

.section-follow .fa-4x {
  margin: 10px 10px;
}

.section-follow .fa-4x:hover {
  color: #3a3a3c;
  transition: ease-in;
  transition-duration: 0.3s;
}

.section-contact {
  padding-top: 50px;
}

.section-iskustva {
  margin-top: 100px;
}

.section-about {
  margin: 100px;
  font-size: x-large;
}

footer {
  margin-top: 10vh;
  padding-top: 50px;
  padding-bottom: 35px;
}

@media only screen and (max-width: 840px) {
  #logo {
    padding: 10px 0 10px 20px;
  }
  #slider {
    height: 170px;
  }
  #istanbul {
    margin-top: 100px;
  }
  #pariz {
    margin-top: 100px;
  }

  .section-about {
    margin: 30px;
    font-size: medium;
    background: #3a3a3c;
  }
}
